GOOGLE_API_KEY=AIzaSyBO5L9TBOj
AUTH_SECRET="e+pbGTS6OLSxfNoWMlD0"
AUTH_GOOGLE_ID=670098440177-
AUTH_GOOGLE_SECRET=GOCSPX-_MEbrVlyNp

POSTGRES_USERNAME=solang
POSTGRES_PASS=solang
POSTGRES_DATABASE=solang_playground
POSTGRES_ADMIN=solang_admin
POSTGRES_PORT=5438

DATABASE_URL=postgresql://solang:solang@localhost:5438/solang_playground?schema=public

IMAGE_PLAYGROUND=ahmadsamehh/solang-playground:official
IMAGE_ANALYTICS=ahmadsamehh/solang-analytics:official
